
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: none;
    text-decoration: none;
    font-family: "Gupter", serif;
}

/*ESTILOS NAVBAR/HEADER*/



/*ESTILOS DEL BODY*/

#body{
    max-width: 1920px;
    background-color: blanchedalmond;
}


/*ESTILOS DEL MAIN*/

#main{
    max-width: 1920px;
    margin: 0px auto;
    min-height: 100vh;
    text-align: left;
}

