/* ESTILO RESET */
@import "formatos/reset";
/* ESTILO HEADER */
@import "formatos/header";
/* ESTILO NAVBAR */
@import "formatos/header";
/* ESTILO FOOTER */
@import "formatos/footer";
/* BREAKPOINTS  */
@import "formatos/queries";


/* Body */
#body {
    max-width: 1920px;
    background: url(../Images/Fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Main */
#main {
    max-width: 1920px;
    min-height: 900px; 
    flex-grow: 1;
}


.map_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.container-direccion {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.direccion {
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 1);
    opacity: 85%;
}

.imagen-inicio {
    margin-top: 50px;
    width: 100%;
    height: 450px;
    opacity: 95%;
}

.titulos {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    z-index: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 1000px;
    height: 800px;
}

/* Estilo para las imágenes de productos */
.grid-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.grid-container::-webkit-scrollbar {
    display: none;
}


.p-section {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.parrafo {
    font-size: 35px;
    color: white;
    font-style: italic;
    padding: 45px;
    border: 2px solid orange;
    border-radius: 10px;
    background-color: rgb(190, 63, 0);
    opacity: 100%;
}

.p-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Productos */
.title-productos {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
    margin: 50px 0;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 20px;
    padding: 20px;
}

/* Estilo para la sección de productos en la página de inicio */
.productos-section {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    max-height: 700px;
    overflow-y: auto;
    position: relative;
}

.productos-section:hover {
    overflow-y: auto;
}

.productos-section::-webkit-scrollbar {
    display: none;
}

.titulos {
    text-align: center;
    font-size: 2em;
    color: white;
    margin-bottom: 15px;
}

.img-productos {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.product-1 {
    width: 150px;
    height: 200px;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.product-1:hover {
    transform: scale(1.05);
}