.distribuidoresPagina{
  width: 100%;
  height: max-content;
  margin-bottom: 50px;
}

.titulosDist{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  height: 150px;
}

.h5Zonas{
  margin: 0px 0px 20px;
  text-align: center;
}

.contenedorDist{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.contenedorZonas{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white;
  background-color: #1e1e1e;
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 20px;
}

.listZonas{
  border-radius: 10px;
  padding-left: 5px;
}