/* ESTILO FOOTER */
#footer {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(190, 63, 0);
    margin-top: auto;
  }
  
  .footer-logo {
    width: 110px;
    height: 100px;
    margin-top: 10px;
  }
  
  .footer-text {
    color: wheat;
    font-family: "Gupter", serif;
  }
  
  .footer-redes a {
    margin: 5px;
    color: white;
    width: 20px;
    height: 20px;
    padding: 7px;
    transition: all 0.3s ease;
  }

  .footer-redes a:hover {
    border: 2px solid orange;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
  }