/*BREAKPOINTS*/
/* Pantallas muy pequeñas (móviles) */
@media screen and (max-width: 480px) {
  .navBar ul {
    display: none; 
  }

  .navBar ul li {
    display: none; 
  }

  .navBar ul li.contacto {
    display: block; 
  }

  .inicio-texto {
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
  }

  .contacto-contenedor {
    display: flex; 
    flex-direction: column; 
  }

  .contacto-mapa {
    order: 1; 
    flex: 1; 
  }

  .contacto-formulario {
    order: 2; 
    flex: 1; 
  }
}

/* Pantallas pequeñas (tabletas) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .navBar ul {
    display: flex; 
  }

  .navBar ul li {
    display: block; 
  }

  .inicio-texto {
    white-space: normal; 
    overflow: visible; 
  }

  .contacto-contenedor {
    flex-direction: column; 
  }

  .contacto-mapa,
  .contacto-formulario {
    flex: none; 
  }
}

/* Pantallas medianas (pantallas de laptops) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navBar ul {
    display: flex; 
  }

  .navBar ul li {
    display: block; 
  }

  .inicio-texto {
    white-space: normal; 
    overflow: visible; 
  }

  .contacto-contenedor {
    display: flex; 
    flex-direction: column; 
  }

  .contacto-mapa,
  .contacto-formulario {
    flex: none; 
  }
}

/* Pantallas grandes (desktops) */
@media screen and (min-width: 1025px) and (max-width: 1920px) {
  .navBar ul {
    display: flex; 
  }

  .navBar ul li {
    display: block; 
  }

  .inicio-texto {
    white-space: normal; 
    overflow: visible; 
  }

  .contacto-contenedor {
    display: flex; 
    flex-direction: row; 
  }

  .contacto-mapa {
    order: 1; 
    flex: 1; 
  }

  .contacto-formulario {
    order: 2; 
    flex: 1; 
  }
}